:root {
  --ashee-font-scale: 1;
  --ashee-density-scale: 1;
}

@layer base {
  html,
  body {
    font-size: calc(100% * var(--ashee-font-scale));
  }
}

@layer utilities {
  /* Animation Toggle */
  .ashee-no-animations *,
  .ashee-no-animations *::before,
  .ashee-no-animations *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  /* High Contrast Mode */
  .ashee-high-contrast {
    --ashee-border: #000000;
    --ashee-foreground: #000000;
    --ashee-background: #ffffff;
  }

  .theme-dark.ashee-high-contrast {
    --ashee-border: #ffffff;
    --ashee-foreground: #ffffff;
    --ashee-background: #000000;
  }

  /* Density Scaling */
  html.ashee-density-compact {
    --ashee-density-scale: 0.85;
  }

  html.ashee-density-comfortable {
    --ashee-density-scale: 1;
  }

  html.ashee-density-spacious {
    --ashee-density-scale: 1.2;
  }
}
